<div class="container">
    <div class="col-sm-4 footer_widget_left">
        <p>ЕВРОЛЮКС, 2015. Все права защищены<br>
        Телефон: +7 (3452) 00-00-00<br>
        Email: info@evroluks.ru</p>
    </div>

    <div class="col-sm-4 social_widget container-fluid">
        <div class="inner">
            <a href="#"><div class="round_icon col-sm-1 vk_icon"><i class="fa fa-vk"></i></div></a>
            <div class="col-sm-1 col-xs-1"></div>
            <a href="#"><div class="round_icon col-sm-2 tw_icon"><i class="fa fa-twitter"></i></div></a>
            <div class="col-sm-1 col-xs-1"></div>
            <a href="#"><div class="round_icon col-sm-2 fb_icon"><i class="fa fa-facebook"></i></div></a>
        </div>
    </div>
    <div class="col-sm-4 footer_widget_right">
        Небольшой текст о том, чем занимается фирма,
        он помогает поисковым роботам быстрее найти нужную информацию,
        дает возможность продвигать сайт.</div>
</div>